<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROPERTY_FINDER_API_KEY</key>
	<dict/>
	<key>EZAZt.Ej2L3NYUcV9nqdLjYMPS|MASE8xPGvfh7V</key>
	<string>rkpfuj6DRwdj4r0LX9s9WOcN0oN2B9cf</string>
</dict>
</plist>
